
#background {
    background-color: rgb(43, 41, 41);
    margin: 0px;
    padding: 10px;
    height: 90vh;
    width: 100% - 10px;
}
section, table, tr {
    display: flex;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}
td {
    display: flex;
    height:200px;
    width: 200px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    border: 2px dotted;
}
td:hover {
    cursor: pointer;
    border-color: yellow;
}

header {
    font-size: 25px;
    color: white;
    padding: 10px;
    width: 100% - 10px;
    background-color: rgba(66, 66, 66, 1);
    height: 30px;
    margin: 0px;
}
#player{
    width: 60px;
    height: 60px;
}
#menu {
    position: absolute;
    top: 70px;
    left:640px;
    width: 305px;
    height: 605px;
    background-color: rgba(66, 66, 66, 1);
}
.menu {
    font: black;
}
#gp {
    position: relative;
    background-color: rgba(43, 41, 41, 1);
    z-index:2;
    left:20px;
    width: 260px;
    height:260px;
    top: 40px;
    border: 2px solid black;
    font: white;
}
#gptext {
    position: relative;
    top: 10px;
    left:10px;
}
#coin {
    width: 50px;
    height: 48px;
}
.cell {
    width: 200px;
    height: 200px;

}
#button1 {
    position: absolute;
    top: 130px;
    left: 60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}
